{% extends 'base.html' %}


{% block title %}Sign In {% endblock title %}
    

{% block content %}
    <h1>This is the login page</h1>
    <form action="url_for('login')">
        <div>
            {{form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus='true')}}
        </div>
        <div>
            {{form.password(class_='form-control', placeholder='Password')}}
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock content %}
    